body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(168, 168, 168);
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#gameCanvas {
    display: block;
    width: 100%;
    height: 100%;
}

#debugArea {
    border: 1px solid black;
    height: 100px;
    width: 300px;
    overflow: auto;
}

#stopButton {
    position: absolute;
}

#debug::-webkit-scrollbar {
    scrollbar-width: 5px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#debug {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: rgba(255, 14, 14, 0.1);
    padding: 10px;
    font-size: 16px;
    color: white;
    z-index: 1;
    overflow: auto;
    height: 50%;
    scrollbar-width: none;
    display: none;
}