body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(168, 168, 168);
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#gameCanvas {
    display: block;
    width: 100%;
    height: 100%;
}

#debugArea {
    border: 1px solid black;
    height: 100px;
    width: 300px;
    overflow: auto;
}

#stopButton {
    position: absolute;
}